* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2c2438;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  color: #FFFFFF;
  margin: 0;
}

p {
  margin: 0;
}

p, span, li, a, blockquote {
  font-family: "Montserrat-Regular";
  color: #FFFFFF;
  text-decoration: none;
  list-style-type: none;
}

blockquote {
  margin: 30px 0 20px 0;
  padding: 20px;
  background: #171816;
  -webkit-box-shadow: 0px 0px 10px 4px #1b1b1b;
          box-shadow: 0px 0px 10px 4px #1b1b1b;
  border-radius: 5px;
  font-size: 14px;
  line-height: 30px;
  overflow-x: auto;
}

p, span, a {
  font-size: 20px;
  line-height: 26px;
}

h1 {
  font-size: 32px;
  line-height: 41px;
  margin: 30px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  line-height: 31px;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 10px;
  margin: 30px 0;
  text-align: right;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}

.container {
  max-width: 840px;
  padding: 0 20px;
  margin: 0 auto;
}

.about-me__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me__container .about-me__image {
  width: 300px;
  height: 300px;
  display: block;
}

.about-me__container .about-me__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-me__container .about-me-bio {
  width: 48%;
}

.about-me__container .about-me-bio__item {
  margin-bottom: 10px;
}

.about-me__container .about-me-bio__item:last-child {
  margin-bottom: 0;
}

.about-me__container .about-me-bio__item span {
  color: #f52500;
}

.contact__container .contact-list {
  padding: 0;
}

.contact__container .contact-list__item {
  margin-bottom: 10px;
}

.contact__container .contact-list__item span {
  color: #f52500;
}

.contact__container .contact-list__item a {
  margin-left: 15px;
}

.skills__container .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__container .skills-list li {
  margin-right: 15px;
}

.skills__container .skills-list li p {
  padding: 10px 20px;
  background: #221f1f;
  border-radius: 10px;
}

.education__container {
  margin-bottom: 30px;
}

.education__container .education-list {
  padding: 0;
}

.education__container .education-list li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education__container .education-list li:last-child {
  margin-bottom: 0;
}

.education__container .education-list li span {
  text-decoration: underline;
}

.education__container .education-list li p {
  padding: 0 20px;
  font-style: italic;
}

.education__container .education-list li a {
  color: #fbff00;
  text-shadow: 1px 1px 1.5px yellow;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 1px solid #FFFFFF;
}

.footer__container .footer-rs {
  width: 80px;
}

.footer__container .footer-github img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__container .footer-github {
  width: 50px;
}
/*# sourceMappingURL=main.css.map */